.details {
  color:#fff;
  padding-bottom:20px;
  font:16px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
}
.details > * {
  display:inline-block;
  margin-right:10px;
}

.graph {
  display:block;
}
.graph svg {
}

.graph .axis path {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

.graph .axis .tick {
  fill: none;
  stroke: #fff;
}
.graph .y.axis .tick {
  stroke: #ccc;
  stroke-width: .5px;
}
.graph .axis text {
  fill: #fff;
}