.details {
  color:#fff;
  font:16px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
  padding:0 10px 0 10px;
  background-color:#333;
  padding-top:10px;
  border-top:1px solid #555;
  
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  z-index:4;
  
  background: -moz-linear-gradient(top,  rgba(42,42,42,0.99) 0%, rgba(36,36,36,0.9) 23%, rgba(17,17,17,0.99) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,42,42,0.99)), color-stop(23%,rgba(36,36,36,0.9)), color-stop(100%,rgba(17,17,17,0.99))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(42,42,42,0.99) 0%,rgba(36,36,36,0.9) 23%,rgba(17,17,17,0.99) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(42,42,42,0.99) 0%,rgba(36,36,36,0.9) 23%,rgba(17,17,17,0.99) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(42,42,42,0.99) 0%,rgba(36,36,36,0.9) 23%,rgba(17,17,17,0.99) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(42,42,42,0.99) 0%,rgba(36,36,36,0.9) 23%,rgba(17,17,17,0.99) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc2a2a2a', endColorstr='#fc111111',GradientType=0 ); /* IE6-9 */
}
.details .content {
  display:none;
}
.details .content.current {
  display:block;
}
.details .close {
  width:18px;
  height:18px;
  background:transparent url('/images/sprites.png?09162012') no-repeat scroll -2px -2px;
  position:absolute;
  right:0;
  top:0;
  cursor:pointer;
}
.details .close:hover {
  opacity:.8;
}

.details .header {
  display:block;
  position:relative;
  padding-right: 28px;
  font-size:24px;
}
.details .last_trade, .details .change {
  display:inline-block;
  vertical-align:top;
  margin-left:20px;
}
.details .quote {
  float:right;
  text-align:right;
}
.details .timestamp {
  color:#888;
  font-size:12px;
  line-height:8px;
}
.details .sym {
  font-size:16px;
  line-height:14px;
  color:#ddf;
}
.details .name {
  margin-right:10px;
}
.details .last_trade {
  font-weight:bold;
}
.details .red {
  color:#f33;
}
.details .green {
  color:#3f3;
}
.details .left, .details .right {
  position:relative;
  display:inline-block;
  width:50%;
  vertical-align:top;
}
.details .values {
  font-size:12px;
  line-height:16px;
}
.details .values .col {
  width:20%;
  display:inline-block;
  margin-right:24px;
  vertical-align:top;
}
.details .values .col:last-child {
  margin-right:0;
}
.details .values dt {
  float:left;
  color:#ddf;
}
.details .values dd {
  font-weight:bold;
  text-align:right;
  border-bottom:1px dotted #888;
}
.details .values dd:last-child {
  border-bottom:none;
}