.graph {
  position:relative;
  display:block;
  font-size:12px;
  margin-top:8px;
}
.graph.pending {
  background:transparent url('/images/busy.gif?123456') no-repeat scroll center center;
}

.graph .ui {
  position:relative;
  z-index:1;
  margin-bottom:-6px;
}
.graph .ui .ranges {
  color:#ddf;
  white-space:nowrap;
  display:inline-block;
  margin-right:20px;
}
.graph .ui .range {
  color:#ccc;
  display:inline-block;
  width:28px;
  text-align:center;
  cursor:pointer;
  padding:0 1px;
}
.graph .ui .range:hover {
  color:#fff;
}
.graph .ui .range.selected {
  background-color:#fff;
  color:#000;
  line-height:14px;
  padding-top:1px;
  font-weight:bold;
  border-radius:12px;
}

.graph .ui .slice {
  opacity:0;
  display:inline-block;
  color:#ddf;
  -webkit-transition:opacity .2s;
  -moz-transition:opacity .2s;
  -ms-transition:opacity .2s;
  transition:opacity .2s;
}
.graph .ui .slice .price, .graph .ui .slice .volume {
  color:#fff;
  letter-spacing:1px;
}
.graph .ui .slice span {
  margin-right:8px;
}

.graph svg {
  margin-left:-20px;
  visibility:visible;
}
.graph.pending svg {
  visibility:hidden;
}

.graph .graph_path {
  stroke:#ddf;
  fill:none;
  shape-rendering: geometricPrecision;
}
.graph .graph_area {
  stroke:none;
  fill:rgba(220,220,255,.15);
  shape-rendering: geometricPrecision;
}
.graph .volume_chart {
  stroke:#ddf;
  shape-rendering: crispEdges;
}
.graph .reference {
  stroke:#f66;
}

.graph .axis {
  shape-rendering: crispEdges;
  fill: none;
}
.graph .x.axis .domain {
  stroke: #fff;
  stroke-width: 1px;
}
.graph .axis .tick {
  fill: none;
  stroke: url(#fade);
  stroke-width: 1px;
}
.graph .divider {
  shape-rendering: crispEdges;
  stroke: #fff;
}
.graph .y.axis .tick {
  stroke: rgba(255,255,255,.3);
}
.graph .axis text {
  fill: #fff;
}
.graph .ball {
  fill: #000;
  stroke:#ddf;
}
.graph .ball_bar {
  fill: #000;
  stroke:#ddf;
}