.graph {
  position:relative;
  display:block;
  font-size:12px;
}
.graph.pending {
  background:transparent url('/images/busy.gif?123456') no-repeat scroll center center;
}

.graph .ui {
  position:relative;
  z-index:1;
}
.graph .ui .ranges {
  color:#ddf;
  text-align:right;
  margin-right:40px;
  margin-bottom:-10px;
}
.graph .ui .range {
  color:#fff;
  display:inline-block;
  width:28px;
  text-align:center;
  cursor:pointer;
}
.graph .ui .range:hover {
  font-weight:bold;
}
.graph .ui .range.selected {
  background-color:#fff;
  color:#000;
  line-height:18px;
  padding-top:1px;
  font-weight:bold;
}

.graph svg {
  margin-left:-20px;
  visibility:visible;
}
.graph.pending svg {
  visibility:hidden;
}

.graph .graph_path {
  stroke:#ddf;
  fill:none;
  shape-rendering: geometricPrecision;
}
.graph .graph_area {
  stroke:none;
  fill:rgba(220,220,255,.15);
  shape-rendering: geometricPrecision;
}
.graph .volume_chart {
  stroke:#ddf;
  shape-rendering: crispEdges;
}
.graph .reference {
  stroke:#f66;
}

.graph .axis {
  shape-rendering: crispEdges;
  fill: none;
}
.graph .x.axis .domain {
  stroke: #fff;
  stroke-width: 1px;
}
.graph .axis .tick {
  fill: none;
  stroke: url(#fade);
/*  stroke: #fff;*/
  stroke-width: 1px;
}
.graph .divider {
  shape-rendering: crispEdges;
  stroke: #fff;
}
.graph .y.axis .tick {
  stroke: rgba(255,255,255,.3);
}
.graph .axis text {
  fill: #fff;
}