.compare {
  height:30px;
  font-size:12px;
  white-space:nowrap;
}
.compare .pre {
  position:relative;
  display:inline-block;
}
.compare .search {
  margin-left:6px;
  opacity:1;
  -webkit-transition:opacity .3s;
  -moz-transition:opacity .3s;
  -ms-transition:opacity .3s;
  transition:opacity .3s;
}
.compare.inspected .search {
  opacity:0;
}
.compare .selection {
  display:inline-block;
  margin-left:10px;
}
.compare .compare_to {
  display:inline-block;
  margin:0 6px;
  line-height:18px;
  padding-right:12px;
}
.compare .main.compare_to {
  color:#ddf;
  font-weight:bold;
  font-size:14px;
  position:absolute;
  right:0;
  line-height:25px;
  height:100%;
}
.compare .compare_to .x {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url('/images/sprites.png?10252012') no-repeat scroll -24px -2px;
  cursor: pointer;
  border-radius: 10px;
  border:1px solid #000;
  vertical-align: top;
  margin-left: 2px;
}
.compare .main.compare_to .x {
  display:none;
}
.compare .compare_to .value {
  font-size:10px;
  max-width:18px;
  margin-left:2px;
  display:none;
}
.compare.inspected .compare_to .x {
  display:none;
}
.compare.inspected .compare_to .value {
  display:inline-block;
}
.compare .search input {
  font-size:12px;
  line-height:16px;
  width:100px;
  background-color:#ddd;
}
.compare .search .x {
  right: -1px;
  top: 5px;
}
.compare .compare_to.pending .x {
    background:transparent url('/images/busy.gif?123456') no-repeat scroll center center;
}
.compare .compare_to.pending .x {
  background:transparent url('/images/busy.gif?123456') no-repeat scroll center center;
  background-color:transparent !important;
}


.graph {
  position:relative;
  display:block;
  font-size:12px;
  margin-top:8px;
  clear:both;
  overflow:hidden;
}
.graph.pending {
  background:transparent url('/images/busy.gif?123456') no-repeat scroll center center;
}

.graph .ui {
  position:relative;
  z-index:1;
  margin-bottom:-6px;
}
.graph .ui .ranges {
  font-size:12px;
  color:#ddf;
  white-space:nowrap;
  display:inline-block;
  margin-right:20px;
}
.graph .ui a {
  width:28px;
  text-align:center;
  padding:0 1px;
}
.graph .ui .range.current {
  font-weight:bold;
}

.graph .ui .slice {
  opacity:0;
  display:inline-block;
  color:#ddf;
  -webkit-transition:opacity .2s;
  -moz-transition:opacity .2s;
  -ms-transition:opacity .2s;
  transition:opacity .2s;
}
.graph .ui .slice .price, .graph .ui .slice .volume {
  color:#fff;
  letter-spacing:1px;
}
.graph .ui .slice span {
  margin-right:8px;
}

.graph svg {
  margin-left:-20px;
}
.graph.pending svg {
  visibility:hidden;
}

.graph .graph_path {
  stroke:#ddf;
  fill:none;
  shape-rendering: geometricPrecision;
}
.graph .change_path {
  fill:none;
  shape-rendering: geometricPrecision;
}
.graph .graph_area {
  stroke:none;
  fill:rgba(220,220,255,.15);
  shape-rendering: geometricPrecision;
}
.graph .volume_chart {
  stroke:#ddf;
  shape-rendering: crispEdges;
}
.graph .reference {
/*  stroke:#f66;*/
}

.graph .axis {
  shape-rendering: crispEdges;
  fill: none;
}
.graph .x.axis .domain {
  stroke:#ccc;
  stroke-width: 1px;
}
.graph .axis .tick {
  fill: none;
  stroke:url(#fade);
  stroke-width: 1px;
}
.graph .divider {
  shape-rendering: crispEdges;
  stroke:#888;
}
.graph .divider.top {
  stroke:#ccc;
}
.graph .y.axis .tick {
  stroke: rgba(255,255,255,.2);
}
.graph .axis text {
  fill: #fff;
}
.graph .ball {
  fill: #000;
  stroke:#ddf;
}
.graph .ball_bar {
  fill: #000;
  stroke:#ddf;
}