.panel {
  border-bottom:2px solid #000;
  margin-bottom:8px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2;
  padding:10px 9px 0px 9px;
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  background-color:#333;
}
.panel .sorts {
  float:right;
}
.panel .title {
  position: absolute;
  bottom: -40px;
  font-size: 24px;
  font-family: "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.85);
  left: 7px;
  background-color: rgba(74, 74, 74, .25);
  padding: 0px 6px;
}



.groups {
  position:relative;
  cursor: pointer;
  font:12px/13px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
}
.groups .group {
  position:absolute;
  border:1px solid rgba(0,0,0,.2);/*(255,255,255,.1);*/
}
.groups .group:hover {
  z-index:1;
}
.groups .group.selected {
  z-index:2;
}
.groups .group:not(.selected):before {
  width:100%;
  height:100%;
  left:0;
  top:0;
  position:absolute;
  content:'';
/*  z-index:-1;*/
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(16%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.groups .group:hover:after, .groups .group.selected:after {
  width:100%;
  height:100%;
  border:2px solid #fffcce;
  left:-2px;
  top:-2px;
  position:absolute;
  content:'';
  background:transparent url('/images/inner_dropshadow.png') no-repeat top left;
  -moz-box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  box-shadow: 4px 4px 8px rgba(0,0,0,.75);
}
.groups .group:not(.selected):hover:after {
  opacity:.8;
}
.groups.dimmed .group {
  opacity:.2;
  -webkit-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -moz-transition: opacity .2s;
}
.groups.dimmed .group.search_result {
  opacity:1;
}
.groups .group label {
  font-family:'Open Sans Condensed', 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  line-height:14px;
  opacity:.8;
  position:relative;
}
.groups .group .val_right {
  line-height:16px;
  font-size:10px;
  position:relative;
  float:right;
  text-align:right;
  margin-right:2px;
  height:0;
}
.groups .label {
  font-size:14px;
  color:#888;
  position:absolute;
/*  background-color:#555;*/
  line-height:28px;
}

/*---------------------------------------------*/

.groups_view {
  font:18px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
  padding:8px;
}

.groups_view .section {
  margin-bottom:12px;
}

.groups_view .section > .type {
  color:#fff;
  font-weight:bold;
}
.groups_view .group {
  position:relative;
  display:inline-block;
  height:42px;
  background-color:#eee;
}
.groups_view .group:after {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  content:'';
  
  background: -moz-linear-gradient(top,  rgba(252,252,252,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33fcfcfc', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}
.groups_view .group label {
  white-space:nowrap;
  padding-left:4px;
  font-weight:bold;
  font-family:'Open Sans Condensed';
}
.groups_view .group .type {
  display:none;
  font-size:16px;
}
.groups_view .counts {
  position:absolute;
  right:5px;
  bottom:0;
  line-height:18px;
}