.inspector {
  position:absolute;
  font:12px/16px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
  z-index:3;
  pointer-events:none;
  
  -webkit-transition: left .3s, top .3s, opacity .2s;
  -ms-transition: left .3s, top .3s, opacity .2s;
  -moz-transition: left .6s, top .6s, opacity .2s;
}

.inspector.hidden {
  opacity:0;
}

.inspector.suspended {
  opacity:0 !important;
}

.inspector .body {
  position:absolute;
  border: 1px solid #ccc;
  border-radius:5px;
  z-index:0;
  left:0;
  top:0;
  right:0;
  bottom:0;
  
  -moz-box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  
  background: #fffdee; /* Old browsers */
  background: -moz-linear-gradient(left,  #fffdee 0%, #fffcde 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fffdee), color-stop(100%,#fffcde)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #fffdee 0%,#fffcde 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #fffdee 0%,#fffcde 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #fffdee 0%,#fffcde 100%); /* IE10+ */
  background: linear-gradient(left,  #fffdee 0%,#fffcde 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdee', endColorstr='#fffcde',GradientType=1 ); /* IE6-9 */
}

.inspector .content {
  z-index: 2;
  position: relative;
  padding: 4px;
  display: none;
}

.inspector .content.current {
  display: block;
}

.inspector svg {
  position:absolute;
  z-index:1;
}

.inspector .header {
  border-bottom:1px solid #333;
  margin-bottom:1px;
  line-height:15px;
}

.inspector .name {
  line-height:13px;
  padding-bottom:2px;
}

.inspector .sym, .inspector .last_trade {
  font-weight:bold;
  overflow:hidden;
  white-space:nowrap;
}

.inspector .header > div {
  display:inline-block;
  font-size:16px;
}

.inspector .sym {
  width:50px
}

.inspector .last_trade {
  width:61px;
  text-align:right;
}

.inspector .change {
  width:115px;
  text-align:right;
}

.inspector .change.green { color:#060; }
.inspector .change.red   { color:#600; }

.inspector .left {
  width:111px;
  display:inline-block;
}

.inspector .right {
  width:113px;
  display:inline-block;
}

.inspector .wide {
/*  width:240px;*/
  width:100%;
  display:inline-block;
}

.inspector dt {
  margin-top:1px;
  float:left;
  font-weight:bold;
}
.inspector dt .unit {
  display:inline;
  font-weight:normal;
}
.inspector dd {
  margin-top:1px;
  text-align:right;
  border-bottom:1px solid #999;
}

.inspector .right dt {
  padding-left:25px;
}
