body {
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top, #555555 0%, #333333 51%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(51%,#333333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #555555 0%,#333333 51%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #555555 0%,#333333 51%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #555555 0%,#333333 51%); /* IE10+ */
  background: linear-gradient(to bottom, #555555 0%,#333333 51%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

input {
  padding:5px 10px 0;
  background:#fff;
  border-radius:18px;
  border:1px solid #555;
  -webkit-box-shadow: inset 2px 2px 6px 0px #000000;
  -moz-box-shadow: inset 2px 2px 6px 0px #000000;
  box-shadow: inset 2px 2px 6px 0px #000000;
  border:none;
}

.layout {
  position:relative;
}


.credit {
  color:#ddd;
  font:12px/13px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
  text-align:right;
}
.credit a {
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}


.selector label {
  line-height:30px;
  margin-right:6px;
  color:#ddf;
}
.selector {
  font:16px/22px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
  display:inline-block;
  vertical-align:middle;
}
.selector a {
  cursor:pointer;
  display:inline-block;
  color:#ccc;
  padding: 2px 8px 0;
  line-height:16px;
  position:relative;
}
.selector a:hover {
  color:#fff;
}
.selector a.current {
  color:#000;
  background:#fff;
  border-radius:12px;
}