body {
  background-color:#333;
}

.chart {
  position:relative;
  padding:0;
  height:530px;
  margin-top:20px;
  font:12px/13px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
/*  margin-bottom:400px;*/
}

.chart svg {
  width:100%;
  height:100%;
}

.chart .axis_label {
  font-size:15px;
}


/* HTML CHART */
.chart .bar {
  position:absolute;
  top:0;
}
.chart .bar div {
  position:absolute;
  width:100%;
}
.chart .tick {
  position:absolute;
  width:100%;
  border-top:1px dashed #555555;
  color:#bbb;
}
.chart .tick div {
  margin-top:-6px;
}
.chart .tick .left {
  float:left;
}
.chart .tick .right {
  float:right;
}
.chart .bars {
  margin:0 40px;
  position:relative;
}
.chart.animated .bar {
  -webkit-transition:left .6s, width .6s;
  -moz-transition:left .6s, width .6s;
  -ms-transition:left .6s, width .6s;
  transition:left .6s, width .6s;
}
.chart.animated .bar div {
  -webkit-transition:height .6s, top .6s;
  -moz-transition:height .6s, top .6s;
  -ms-transition:height .6s, top .6s;
  transition:height .6s, top .6s;
}
.chart.animated .tick {
  -webkit-transition:top .6s, opacity .6s;
  -moz-transition:top .6s, opacity .6s;
  -ms-transition:top .6s, opacity .6s;
  transition:top .6s, opacity .6s;
}