.map {
  position:relative;
  line-height:13px;
  z-index:0;
  margin-bottom:60px;
}
.map ul {
  position:relative;
  padding:1px;
}
.map div.shadows {
  position:absolute;
  left:0;
  right:0;
  top:0;
  z-index:1;
  pointer-events:none;
}

.map li, .map .shadows div {
  display:inline-block;
  width:27px;
  height:12px;
  padding-left:2px;
  white-space:nowrap;
  font:11px/12px "Helvetica Narrow","Arial Narrow",sans-serif;
  font-weight:bold;
  letter-spacing:-1px;
  position:absolute;
}
.map ul.dimmed li {
  opacity:.2;
}
.map ul.dimmed .shadows div {
  display:none;
}
.map ul.dimmed li.search_result, .map ul.dimmed li:hover {
  opacity:1;
}

.map .shadows div {
  display:none;
  background-color:rgba(0,0,0,.7);
/*  margin-left:1px;
  margin-top:1px;
*/
  margin-left:2px;
  margin-top:2px;
  
  width:29px;
  height:14px;
}
.map .shadows div.highlighted {
  display:block;
}
.map li {
  border:1px solid rgba(0,0,0,.2);
  background-color:#ccc;
  cursor: crosshair;
}

.map li.highlighted {
  z-index:2;
}

.map li.highlighted:after {
  width:27px;
  height:10px;
  border:1px solid #000;
  position:absolute;
  left:-1px;
  top:-1px;
  padding:1px;
  content:'';
}
.map li.highlighted:hover:after {
  padding:0;/* un-does the padding:1px from above */
}

.map li:hover {
  z-index:3;
}
.map li:hover:after {
  width:27px;
  height:10px;
  border:2px solid #fffcce;
  left:-1px;
  top:-1px;
  position:absolute;
  content:'';
  background:transparent url('/images/inner_dropshadow.png') no-repeat left top;
}

.map ul.animated {
  -webkit-transition:height .6s, width .2s, margin .4s;
  -moz-transition:height .6s, width .2s, margin .4s;
  -ms-transition:height .6s, width .2s, margin .4s;
  transition:height .6s, width .2s, margin .4s;
}
.map ul.animated li, .map ul.animated .shadows div {
  -webkit-transition:left .6s, top .6s;
  -moz-transition:left .6s, top .6s;
  -ms-transition:left .6s, top .6s;
  transition:left .6s, top .6s;
}