.map {
  position:relative;
  line-height:13px;
}

.map div.shadows {
  position:absolute;
  left:0;
  right:0;
  z-index:1;
  pointer-events:none;
}

.map > li, .map .shadows div {
  display:inline-block;
  width:27px;
  height:12px;
  margin-right:1px;
  margin-bottom:1px;
  padding-left:2px;
  white-space:nowrap;
  font:11px/12px "Helvetica Narrow","Arial Narrow",sans-serif;
  font-weight:bold;
  letter-spacing:-1px;
}

.map > li {
  background-color:#ccc;
  cursor: crosshair;
}

.map > li span {
  font-size:9px;
  padding-left:1px;
}

.map > li.active {
/*  font-weight:bold;*/
  z-index:2;
  position:relative;
}

.map > li.active:after {
  width:27px;
  height:10px;
  border:1px solid #fff;
  position:absolute;
  left:0;
  top:0;
  content:'';
}

.map > li:hover {
  position:relative;
  z-index:3;
}
.map > li:hover:after {
  width:27px;
  height:10px;
  border:2px solid #fffcce;
  left:-1px;
  top:-1px;
  position:absolute;
  content:'';
  background:transparent url('/images/inner_dropshadow.png') no-repeat left top;
}


.map .shadows div.active {
  position:relative;
}
.map .shadows div.active:after {
  position:absolute;
  content:'';
  left:1px;
  top:1px;
  width:31px;
  height:14px;
  background-color:rgba(0,0,0,.6);
}