.map {
  position:relative;
  line-height:13px;
  z-index:0;
  margin:0 auto;
  margin-bottom:40px;
  -webkit-transition:height .6s;
  -moz-transition:height .6s;
  -ms-transition:height .6s;
  transition:height .6s;
}

.map div.shadows {
  position:absolute;
  left:0;
  right:0;
  z-index:1;
  pointer-events:none;
}

.map > li, .map .shadows div {
  display:inline-block;
  width:27px;
  height:12px;
  margin-right:1px;
  margin-bottom:1px;
  padding-left:2px;
  white-space:nowrap;
  font:11px/12px "Helvetica Narrow","Arial Narrow",sans-serif;
  font-weight:bold;
  letter-spacing:-1px;
  position:absolute;
  -webkit-transition:left .6s, top .6s;
  -moz-transition:left .6s, top .6s;
  -ms-transition:left .6s, top .6s;
  transition:left .6s, top .6s;
}

.map .shadows div {
  display:none;
  background-color:rgba(0,0,0,.6);
  margin-left:1px;
  margin-top:1px;
  width:29px;
  height:14px;
}
.map .shadows div.active {
  display:block;
}
/*.map .shadows div.active:after {
  position:absolute;
  content:'';
  left:1px;
  top:1px;
  width:31px;
  height:14px;
  background-color:rgba(0,0,0,.6);
}
*/
.map > li {
  background-color:#ccc;
  cursor: crosshair;
}

.map > li.active {
/*  font-weight:bold;*/
  z-index:2;
}

.map > li.active:after {
  width:27px;
  height:10px;
  border:1px solid #fff;
  position:absolute;
  left:0;
  top:0;
  content:'';
}

.map > li:hover {
  z-index:3;
}
.map > li:hover:after {
  width:27px;
  height:10px;
  border:2px solid #fffcce;
  left:-1px;
  top:-1px;
  position:absolute;
  content:'';
  background:transparent url('/images/inner_dropshadow.png') no-repeat left top;
}