.panel {
  margin-bottom:1px;
}

.panel .button {
  display:inline-block;
  width:84px;
  height:20px;
  padding-top:2px;
  padding-left:3px;
  margin:1px 2px 2px 1px;
  cursor: pointer;
  font:12px/13px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
}

.panel .button > * {
  pointer-events:none;
}

.panel .button label {
  font-weight:bold;
}

.panel .button .type {
  font-size:9px;
  line-height:9px;
}

.panel .group {
  background-color:#ccc;
}
.panel .group .counts {
  font-size:9px;
  line-height:9px;
  float:right;
  margin-right:2px;
}

.panel .sort {
  background-color:#fff;
}