.panel {
  border-bottom:2px solid #000;
  margin-bottom:8px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
  background-color:#333;
  padding:10px 9px 0px 9px;
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}

.panel .button {
  display:block;
  position:absolute;
  vertical-align:top;
  width:84px;
  height:20px;
  padding-top:2px;
  padding-left:3px;
  margin:1px 2px 2px 1px;
  cursor: pointer;
  font:12px/13px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
}

.panel .button > * {
  pointer-events:none;
}

.panel .button label {
  font-weight:bold;
  white-space: nowrap;
}

.panel .button .type {
  font-size:9px;
  line-height:9px;
}
.button.selected {
  z-index:1;
}
.panel .groups .button:hover:after, .panel .groups .button.selected:after {
  width:85px;
  height:20px;
  border:2px solid #fffcce;
  left:-1px;
  top:-1px;
  position:absolute;
  content:'';
  background:transparent url('/images/inner_dropshadow.png') no-repeat top left;
  -moz-box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,.75);
  box-shadow: 4px 4px 8px rgba(0,0,0,.75);
}

.panel .button:hover:after {
  opacity:.6;
  background:none;
}

/*.panel .button.selected:after {
  width:87px;
  height:22px;
  border:3px solid #fffcce;
  left:-3px;
  top:-3px;
  position:absolute;
  content:'';
  background:transparent url('/images/inner_dropshadow.png') no-repeat left top;
}
*/
.panel .group {
  background-color:#ccc;
}
.panel .group .val_right {
  font-size:9px;
  line-height:9px;
  float:right;
  text-align:right;
  margin-right:2px;
  height:0;
}

.panel .groups {
  position:relative;
  margin:0 auto;
  padding-bottom:16px;
}
.panel .sorts {
  position:absolute;
  bottom:-2px;
  right:20px;
}
.panel .sorts .button {
  display:inline-block;
  position:relative;
  color:#fff;
}

.panel .sorts .button:hover {
  background-color:#444;
}
.panel .sorts .button.selected {
  background-color:#fff;
  color:#000;
}

.panel .views {
  margin-left:12px;
}

.panel .views a {
  cursor:pointer;
  display:inline-block;
  margin-right:10px;
  color:#ccc;
  font:16px/22px "Myriad Pro","Myriad", "Helvetica", "Arial",sans-serif;
}
.panel .views a:hover {
  color:#fff;
}