.search {
  font-size:14px;
  line-height:20px;
  display:inline-block;
  margin-bottom:4px;
  vertical-align:middle;
  margin-left:20px;
}

.search .field {
  position:relative;
  padding-top:2px;
}
.search input {
  width:160px;
  margin:0;
  line-height:18px;
}
.search .x {
  width:20px;
  height:20px;
  background:transparent url('/images/sprites.png?10252012') no-repeat scroll -2px -22px;
  position:absolute;
  right:0px;
  top:6px;
  cursor:pointer;
}
.search_dropdown {
  line-height:20px;
  position:fixed;
  background:#000;/* fallback color */
  background:rgba(0,0,0,.8);
  border:2px solid #000;
  z-index:20;
  padding:2px;
  display:none;
  color:#bbb;
  margin-top:8px;
}

.search_dropdown .sym b {
  text-decoration:underline;
}

.search_dropdown .sym {
  display:inline-block;
  min-width:70px;
  white-space:nowrap;
  font-size:12px;
  padding-right:8px;
  vertical-align:middle;
}

.search_dropdown .code {
  display:inline-block;
  width:60px;
  font-size:13px;
  vertical-align:middle;
}

.search_dropdown .name {
  display:inline-block;
  max-width:200px;
  font-size:13px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  vertical-align:middle;
}
.search_dropdown > div {
  cursor:pointer;
  padding:0 2px;
  background-color:rgba(128,128,128,0);
}
.search_dropdown > div:not(.selected):hover {
  background:rgba(128,128,128,.2);
}
.search_dropdown .selected {
  color:#fff;
  background-color:rgba(128,128,128,.4);
  -webkit-transition:background-color .25s;
}
