@font-face {
  font-family: 'Conv_Lato-Black';
  src: url('Lato-Black.eot');
  src: local('☺'), url('Lato-Black.woff') format('woff'), url('Lato-Black.ttf') format('truetype'), url('Lato-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Lato-Regular';
  src: url('Lato-Regular.eot');
  src: local('☺'), url('Lato-Regular.woff') format('woff'), url('Lato-Regular.ttf') format('truetype'), url('Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_gill_sans_mt';
  src: url('gill_sans_mt.eot');
  src: local('☺'), url('gill_sans_mt.woff') format('woff'), url('gill_sans_mt.ttf') format('truetype'), url('gill_sans_mt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  padding:0px;
  margin:0px;
  background:#69aec2;
  font-family: 'Conv_Lato-Regular'; *font-family:Lato; 
  font-size: 16px;
  color: #fff;
}
body strong {
  font-family: 'Conv_Lato-Black'; *font-family:"Lato Black";
}

.main_content { width: 100%; max-width: 900px; margin: 0 auto; }

.main_content p { margin-bottom: 0px; line-height: 1.4; }
.main_content h3 { color: #0c799a; text-transform:uppercase;  }

/*-------------------------------------------------------RESET-------------------------------------------------------*/
a{ text-decoration:none;}
img{ border:none;}
ul, ol{ padding:0px; margin:0px;}
ul li { list-style-type:none;}
ol li { list-style-position: inside; }
p{ padding:0px; margin:0px;}
h1,h2,h3,h4,h5,h6{ padding:0px; margin:0px; font-weight:normal;}

.clearfix { zoom:1; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

/*-------------------------------------------------------HEADER-------------------------------------------------------*/
#header{ *width:1258px; width:100%; margin:0px auto; background:url(/images/domains/foreside/header_bg.png) repeat-x center bottom; position: fixed; }
.logo{ float:left; padding:24px 0px 32px 23px; overflow:hidden;}
#nav { float:left; padding:35px 0px 0px 12px; font-size:30px; font-weight:bold; }
#nav ul{ padding:0px; margin:0px;}
#nav ul li{ float:left; display:inline; font-family: 'Conv_gill_sans_mt'; *font-family:"Gill Sans MT";  padding:0px 15px; text-transform:uppercase; line-height:30px;}
#nav ul li a { color:#cee4eb; display:inline-block;}
#nav ul li a.selected { color: #fff; }
#nav > ul > li > a:hover{ border-bottom:solid 2px #cee4eb; overflow:hidden; color:#fff; margin-bottom:-2px;}
#nav > ul > li > a.selected { border-bottom:solid 2px #fff; }
.social{ float:right; padding:35px 14px 0px 0px;}
.social img{ float:left; padding-left:16px;}

#nav #products_submenu { position: absolute; background-color: #3b93ae; padding: 5px 10px; border: 1px solid #0c799a; }
#nav #products_submenu li { float: none; display: block; font-size: .6em; line-height: 1; padding: 5px 0; position: relative; }
#nav #products_submenu a { display: block; }
#nav #products_submenu a:hover { color: #fff; }

#nav #login_box { position: absolute; background-color: #3b93ae; padding: 10px; border: 1px solid #0c799a; text-transform:none; font-family: 'Conv_Lato-Regular'; *font-family:Lato; font-size:12px; line-height: 1.5; width:150px; }
#nav #login_box input { display: block; height: 14px; margin: 0 0 5px 0; width: 95%; border-radius: 5px; }
#nav #login_box .submit { padding: 5px 0 0; text-align: right; }

.no-masthead { height: 100px; margin-bottom: 25px; }

/*-------------------------------------------------------MASTHEAD-------------------------------------------------------*/
#masthead { background:url(blank) no-repeat center bottom; background-size:100% auto; width:100%; height:0; padding-top:48%; }
#masthead.slide1{ background-image: url(/images/domains/foreside/slide1.png); }
#masthead.slide2{ background-image: url(/images/domains/foreside/slide2.png); }
#masthead.slide3{ background-image: url(/images/domains/foreside/slide3.png); }

/*-------------------------------------------------------COLUMNS-------------------------------------------------------*/
.row-3col { padding: 0 25px; margin-bottom: 25px; }
.row-3col .col { width:31%; margin-right: 3.5%; display: inline-block; vertical-align: top; }
.row-3col .col:last-child { margin-right: 0; }
.row-3col .col h3 { font-size: .875em; text-transform: uppercase; color: #0c799a; border-top: solid 2px #0c799a; }
.row-3col .col p { font-size: .875em; padding-top: 5px; }

/*-------------------------------------------------------PARTNERS-------------------------------------------------------*/
.parners_page .partner_logo { color: rgba(0,0,0,0); height: 60px; margin-bottom:3px; background: url(blank) no-repeat bottom left; }
.parners_page .foreside .partner_logo { background-image: url(/images/domains/foreside/foreside_partner_logo.png) }
.parners_page .two-n .partner_logo { background-image: url(/images/domains/foreside/2n_partner_logo.png) }
.parners_page .ise .partner_logo { background-image: url(/images/domains/foreside/ise_partner_logo.png) }
.parners_page .kl_gates .partner_logo { background-image: url(/images/domains/foreside/kl_partner_logo.png) }

/*-------------------------------------------------------ABOUT-------------------------------------------------------*/
.about_page .learn-more { font-size:.75em; margin-top: 10px; color: #0c799a; text-transform:uppercase; display: block; }

/*-------------------------------------------------------DEMO-------------------------------------------------------*/
.demo_page { width: 90%; margin: 30px auto; text-align: center; }

/*-------------------------------------------------------HOME-------------------------------------------------------*/
h3.tagline { font-size:4.5em; line-height:1; color:#0c799a; font-family: 'Conv_Lato-Black'; *font-family:"Lato Black"; text-transform:uppercase; padding:3px 0px 5px 0px; overflow:hidden; }

/*-------------------------------------------------------PRODUCTS-------------------------------------------------------*/
.product_page h1 { font-size:2.5em; line-height:1; color:#0c799a; font-family: 'Conv_Lato-Black'; *font-family:"Lato Black"; text-transform:uppercase; padding:3px 0px 5px 0px; overflow:hidden; }
.product_page ol { font-size: .875em; }
.product_page ol li { padding: 3px 0; }
.product_page h3 { margin-top: 25px; }
.product_page .view-on { display: block; color:#0c799a; padding:3px 0;}

.product-quote { border-top: solid 2px #0c799a; padding-top: 20px; }
.product-quote .main > * { display: inline-block; vertical-align: top; }

.picks { margin-top: 10px; float:right;}
.picks label { font-size: .75em; }
.picks .map { width: 152px; margin-left: 20px; display:inline-block;}
.picks .map li { position: relative; margin-left: -1px; color: #000; }

/*-------------------------------------------------------FOOTER-------------------------------------------------------*/
#quotes { border-top: solid 2px #0c799a; padding-bottom:23px; margin-top: 30px; }
#quotes h1{ font-size: 0.75em; color:#0c799a; text-transform:uppercase; padding:3px 0; margin-bottom: 10px; }
#quotes li { width: 33%; display: inline-block; height: 45px; white-space: nowrap; }
#quotes li > * { display: inline-block; *display: inline; zoom: 1; vertical-align: top; }
#quotes li img { height: 100%; }

.quote { margin-left: 10px; text-align: right; }
.quote .price { font-size:1.5em; line-height: .8; }
.quote .change { font-size:0.875em; line-height: .8; padding-top: .65em; margin-top: 0; }
.quote .change.up { color: #060; }
.quote .change.down { color: #900; }
