/* MAP */
.map {
  line-height:10px;
}
.map li, .map .shadows div {
  font-family: 'Open Sans Condensed', 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  width:58px;/*52px;*/
  font-weight:normal;
  font-size:10px;
  letter-spacing:0;
}
.map .shadows div {
  width: 60px;
}
.map li .tight {
  letter-spacing:-1px;
}
.map li.active:after {
  width:58px;
}
.map li:hover:after {
  width:58px;
}

/* GROUPS */
.groups .group label {
  font-family:'Open Sans Condensed', 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  font-weight:normal;
}
.groups_view .group label {
  font-family:'Open Sans Condensed', 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  font-weight:normal;
}

/* INSPECTOR */
.inspector .content.group {
  width: 200px;
}
.inspector .sym {
  font-family: 'Open Sans Condensed', 'Helvetica Narrow', 'Arial Narrow';
  padding-bottom:2px;
  width:95px;
}
.inspector .sym .tight {
  letter-spacing:-1px;
}
.inspector .left {
  width:121px;
}
.inspector .right {
  width: 148px;
}
.inspector .right dt {
  padding-left: 35px;
}
.inspector .index .label {
  font-weight:bold;
}
.inspector .index .last_trade {
  width:auto;
  margin-left:18px;
  margin-right:12px;
}

.inspector .index .change {
  width:auto;
}


/* SEARCH */
.search .dropdown .sym {
  font-family: 'Open Sans Condensed', 'Helvetica Narrow', 'Arial Narrow', sans-serif;
}

/* --------------------------------- HEADER BANNER --------------------------------- */
header {
  color:white;
  padding:4px 3px 0 9px;
  max-height:60px;
}
#header-hr {
  margin-left: 24px;
  margin-top: 15px;
  width: 966px;
}
#panel {
  border: 0px solid #FF0000;
  margin-right: 10px;
  padding-top:8px;
  text-align:right;
}
#panel > * {
  display:inline-block;
  vertical-align:top;
}
#indices-info {
  background: url(http://www.blufin.in/BCI/images/info-bar.png) no-repeat;
  width: 169px;
  height:30px;
  margin-right: 6px;
  cursor: pointer;
}
#refresh-bar {
  background: url(http://www.blufin.in/BCI/images/refresh.png) no-repeat;
  width:90px;
  height:30px;
  cursor: pointer;
  margin-left:10px;
}
#social-icons {
  margin-top:-1px;
}
header #logo {
  float:left;
  color: #FFFFFF;
  display:inline-block;
  vertical-align:top;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  margin-top: 0px; /*only valid once every element has been layed out in the page*/
  height:33px;
  width: 129px;
  margin-right:19px;
}
#logo-name {
  float:left;
  display:inline-block;
  vertical-align:top;
  font-family: 'EB Garamond', serif;
  font-size:29px;  
}
#social-icons ul {
  width:130px;
  border:0px solid #00ff00;
}
#social-icons ul li {
  display: inline-block;
}
a.twit {
  background: url("http://www.blufin.in/BCI/images/social-nw-links.png") no-repeat scroll left top transparent;
}
a.fb {
  background: url("http://www.blufin.in/BCI/images/social-nw-links.png") no-repeat scroll left -48px transparent;
}
a.ya {
  background: url("http://www.blufin.in/BCI/images/social-nw-links.png") no-repeat scroll left -139px transparent;
}
a.in {
  background: url("http://www.blufin.in/BCI/images/social-nw-links.png") no-repeat scroll left -99px transparent;
}
a.twit, a.fb, a.ya, a.in {
  display: block;
  height: 30px;
  position: relative;
  width: 29px;
}