/* MAP */
.map {
  line-height:10px;
}
.map > li, .map .shadows div {
  font-family: 'Open Sans Condensed', sans-serif;
  width:58px;/*52px;*/
  font-weight:normal;
  font-size:10px;
  letter-spacing:0;
}
.map > li.active:after {
  width:58px;/*52px;*/
}
.map > li:hover:after {
  width:58px;/*52px;*/
}

/* PANEL */
.panel .button {
  width:116px;/*104px;*/
}
.panel .button label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
}
.panel .button .type {
  line-height:8px;
}
.panel .button.selected:after {
  width:117px;/*105px;*/
}

/* INSPECTOR */
.inspector .sym {
  font-family: 'Open Sans Condensed', sans-serif;
  width:95px;
}
.inspector .sym.tight {
  letter-spacing:-1px;
}
.inspector .left {
  width:121px;
}
.inspector .right {
  width: 148px;
}
.inspector .right dt {
  padding-left: 35px;
}