body {
  overflow-x:auto;
  background: #203a4b; /* Old browsers */
  background: -moz-linear-gradient(top, #376279 0%, #203a4b 51%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376279), color-stop(51%,#203a4b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #376279 0%,#203a4b 51%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #376279 0%,#203a4b 51%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #376279 0%,#203a4b 51%); /* IE10+ */
  background: linear-gradient(to bottom, #376279 0%,#203a4b 51%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376279', endColorstr='#203a4b',GradientType=0 ); /* IE6-9 */
  font:12px/13px "Helvetica", "Arial", sans-serif;
  padding: 0 !important;
  margin: 0;
}

.chart {
  margin-bottom: -70px;
}

.periods.selector {
  display:none;
}

.map_ui .panel {
  background-color:#006;
}

/*.layout, .panel .groups, #stock_details .inner, #header .inner {*/
.layout, .panel .inner, #stock_details .inner, #header .inner, .website .inner {
  max-width:1172px;
  padding: 0 10px;
  margin:0 auto;
}
body:not(.tablet) .wrapper {
  position:relative;
  min-width:900px;
}

.selector {
  font-size:14px;
  line-height:22px;
}

.search input {
  width:120px;
}

.highlights.selector {
  display: none;
}
.coloring.dropdown_selector {
  float:right;
  line-height: 30px;
  vertical-align: middle;
  margin-right:10px;
}
.coloring.dropdown_selector .panel {
  left: auto;
  right: -8px;
}

.wrapper > .panel {
  min-height:118px;
  max-height:310px;/*280px;*/
  padding-bottom:3px;
}
.map .title {
  font-family: "Georgia", "Palatino", "Palatino Linotype", serif;
  font-weight:normal;
}
.map .title.etf_composite {
  padding-left:30px;
}

/*.panel.collapsed .latest_news {
  display:none;
}
*/
.map .title.etf_composite:after, .map .title.etf_50:after, .map .title.etf_25:after, .map .title.etf_25ne:after {
  height:34px;
  content:'';
  display:block;
  position:absolute;
  top:-2px;
  left:0;
  width:110px;
}
.map .title.etf_composite:after {
  background:transparent url('/images/domains/foreside/sprites.png') no-repeat scroll -10px -339px;
}
.map .title.etf_50:after {
  background:transparent url('/images/domains/foreside/sprites.png') no-repeat scroll -10px -378px;
}
.map .title.etf_25:after {
  background:transparent url('/images/domains/foreside/sprites.png') no-repeat scroll -10px -422px;
}
.map .title.etf_25ne:after {
  background:transparent url('/images/domains/foreside/sprites.png') no-repeat scroll -10px -510px;
  width:140px;
}
.panel .sorts {
  margin-top:4px;
}

.panel {
  background:#203543;/* Fallback color */
  background:rgba(29,54,70,0.95);
  position: relative;
}

.panel .inner {
  position:relative;
  padding: 0;
}
.groups {
  margin-bottom: 0;
}
.panel .groups {
  padding-top:10px;
}
.groups:before {
  background:#203543;/* Fallback color */
  background:rgba(0,0,0,0);
  border:none;
}

.details .left {
  width:66.666%;
}
.details .right {
  width:33.333%;
}
.details .values .col {
  width:50%;
}
#stock_details {
  background: -moz-linear-gradient(top,  rgba(18,31,41,0.99) 0%, rgba(15,27,36,0.95) 23%, rgba(8,14,18,0.99) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,31,41,0.99)), color-stop(23%,rgba(15,27,36,0.95)), color-stop(100%,rgba(8,14,18,0.99))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(18,31,41,0.99) 0%,rgba(15,27,36,0.95) 23%,rgba(8,14,18,0.99) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(18,31,41,0.99) 0%,rgba(15,27,36,0.95) 23%,rgba(8,14,18,0.99) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(18,31,41,0.99) 0%,rgba(15,27,36,0.95) 23%,rgba(8,14,18,0.99) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(18,31,41,0.99) 0%,rgba(15,27,36,0.95) 23%,rgba(8,14,18,0.99) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5121f29', endColorstr='#f5080e12',GradientType=0 ); /* IE6-9 */
}



.inspector .left {
  width:128px;
}
.inspector .right {
  width:128px;
}
.inspector .change {
  width:130px;
}
.inspector .last_trade {
  width:78px;
}
.inspector .content.stock .historical {
}
.inspector .content.stock .change_from {
  float:left;
  line-height:32px;
  font-weight:bold;
}
.inspector .content.stock .historical_change {
  text-align:right;
  font-size:20px;
  line-height:28px;
}

.group .box {
  border:1px solid #26465c;
  height:180px;
  position:relative;
  background: transparent url('/images/domains/foreside/sprites.png') no-repeat scroll left top;
}
.group .box:before {
  width:100px;
  content:'';
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  background: transparent url('/images/domains/foreside/sprites.png') no-repeat scroll right top;
}
.groups .group .box:after {
  content:'';
  position:absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  border-radius: 6px;
  pointer-events:none;
/*  background:transparent;*/
}
.groups .selected .box:after {
  border: 5px solid #6d7c86;/* Fallback color */
  border: 5px solid rgba(255, 255, 255, 0.35);
}
.groups .group:not(.selected):hover .box:after {
  background:rgba(255, 255, 255, 0.1);
}
.groups .group:not(.selected) {
  cursor:pointer;
}
.groups .group:hover:after, .groups .group.selected:after {
  display:none;/* TODO: make this not be required by isolation groupview */
}

.groups .products {
  display:block;
  position:relative;
  margin-top:10px;
}
.product-groups {
  margin: 0 !important;
  padding-bottom: 10px !important;
}
.groups .products .group {
  width:33.33333%;/*25%;*/
}
.groups .products .group .box {
  height:70px;
  background-position:left -190px;
  margin:0 5px;
}
.groups .products .group:first-child .box { margin-left:0; }
.groups .products .group:last-child .box { margin-right:0; }

.groups .products .group .box .name {
  background: transparent url('/images/domains/foreside/sprites.png') no-repeat scroll;
  height:43px;
  margin:4px 0 0 10px;
}
.groups .products .group .box .quote {
  margin:0 0 0 10px;
  white-space: nowrap;
}
#etf_50 .name {
  background-position: -10px -375px;
}
#etf_50ne .name {
  background-position: -10px -463px;
}
#etf_25 .name {
  background-position: -10px -419px;
}
#etf_25ne .name {
  background-position: -10px -507px;
}


.groups .products .group .box:before {
  background-position:right -190px;
}

.map ul label {
  color: #fff;
  font-size: 12px;
}

.group .picks {
  width:63px;
  float:right;
  z-index:1;
  position:relative;
  margin-right:20px;
  margin-top:20px;
}
.groups.narrow .picks {
  display:none;
}
.group .picks .map {
  height:50px;
  margin-bottom:0;
}
.group .picks label {
  color:#fff;
  display:block;
}
.group .picks li {
  display:inline-block;
  margin:-1px 0 0 -1px;
  position:relative;
}
.group .box .quote {
  position:relative;
  height:40px;
  margin-left: 260px;
  margin-top: 30px;
}
.group .box .last_trade {
  display:inline-block;
  color:#fff;
  font-size:18px;
  margin-right:8px;
}
.group .box .last_trade.coming_soon {
  color: #8ac;
  font-size:14px;
}
.group .box .change {
  display:none;
  font-size:16px;
}
.group .box .change.red   { color:#f00; display:inline-block; }
.group .box .change.green { color:#0f0; display:inline-block; }
.group .box .timestamp {
  color:#aaa;
  font-size:10px;
}

.group .box dl {
  position:relative;
  margin-right:120px;
  margin-left:20px;
  margin-top:70px;
  line-height:14px;
}
.groups.narrow .group dl {
  margin-right:20px !important;
}
.group .box dt {
  margin-top:1px;
  float:left;
  color:#88aacc;/*rgba(255, 255, 255, .7);*/
}
.group .box dt .unit {
  display:inline;
  font-weight:normal;
}
.group .box dd {
  margin-top:1px;
  text-align:right;
  border-bottom:1px dotted #5e6f7a;
  font-weight:bold;
  color:#fff;
}
.group .box dd:last-child {
  border-bottom:none;
}

.groups .group {
  position:relative;
  display:inline-block;
  vertical-align:top;
  border:none;
  cursor:default;
}
#all_etfs {
  width:33.333%;
}
/*#all_etfs:hover {
  opacity:.8;
}*/
#all_etfs .box {
  margin-right:5px;
}
#all_etfs dl {
  margin-top:30px;
}
#all_etfs .name {
  position:relative;
  font-family: "Georgia", "Palatino", "Palatino Linotype", serif;
  font-weight:normal;
  font-size:31px;
  line-height:31px;
  margin-left: 20px;
  margin-top: 20px;
  color:#fff;
}
#global_last_update {
  line-height:10px;
  margin-left:20px
}

.panel.collapsed #all_etfs .name {
  margin-top: 14px;
}


#etf_composite {
  width:66.666%;
}
#etf_composite .left {
  float:left;
}
#etf_composite .name {
  height:53px;
  width:190px;
  margin-top:8px;
  margin-left:8px;
  background: transparent url('/images/domains/foreside/sprites.png') no-repeat scroll -10px -284px;
}
#etf_composite .box {
  margin-left:5px;
}
#etf_composite .micro.graph {
  float:left;
  margin-top: 24px;
  width:216px;
  height:88px;
}
#etf_50 .micro.graph {
  float:right;
  margin-top: 5px;
  width:130px;
  height:64px;
}
.panel.collapsed #etf_composite .micro.graph {
  margin-top: 22px;
}

#etf_composite dl {
  margin-right:213px;
  margin-left:260px;
  margin-top:20px;
}
.panel.collapsed #etf_composite dl {
  margin-top:8px;
}
#etf_composite .picks {
  width:156px;
}

.panel.collapsed .picks { display:none; }
.panel.collapsed dl { display:none; }
.panel.collapsed .graph { display:none; }
.panel.collapsed .box {
  height:70px;
  background-position:left -190px !important;
}
.panel.collapsed .groups .group .box .quote {
  margin-top: 22px;
}
.panel.collapsed .groups .group .box:before {
  background-position:right -190px !important;
}


/*.latest_news {
  line-height:40px;
  height:40px;
  border:1px solid #26465c;
  position:relative;
  margin-top:10px;
  background:#1a3140;
  font-size:14px;
  color:#88aacc;
  
  -moz-box-shadow: inset 0 0 20px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.3);
  box-shadow: inset 0 0 20px rgba(0,0,0,.3);
}
.latest_news label {
  float:left;
  margin-left:0;
  margin-top:-1px;
}
.latest_news .arrows {
  margin-left:1px;
}
.latest_news.ticker .news {
  display:block;
  margin-left:70px;
}*/


.foreside_credit {
  position:absolute;
  bottom:-27px;
  left:8px;
  font-size:12px;
  color:#ddf;
}
.foreside_credit img {
  margin-bottom:-9px;
  margin-left:3px;
}

.layout { margin-top: 0 !important; }
/*-------------------------------------------------------"WEBSITE"-------------------------------------------------------*/

.page, .clearfix { zoom:1; }
.page:after, .clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
a{ text-decoration:none;}

.website { position: relative; z-index: 3; color:#cee4eb; background:#203543; line-height: 1.66; }
.website .page { display:none; padding-top: 40px; padding-bottom: 40px; }
.website a { cursor: pointer; color: #289BBB; }
.website .inner { margin-top: 58px; }
.website .close-btn { font-size: 2em; float: right; cursor: pointer; }

.portfolio.page { padding: 0; }
/*-------------------------------------------------------PARTNERS-------------------------------------------------------*/
.partner.page .partner_logo { color: rgba(0,0,0,0); height: 60px; margin-bottom:3px; background: url(blank) no-repeat top left; }
.partner.page .partner_logo a { color: rgba(0,0,0,0); display:block; height:100%; width:100%; }
.partner.page h3 { font-size:1em; color: inherit; text-transform: uppercase; padding-top:3px; }
.partner.page .site_link { text-decoration: underline; display: block; }
.partner.page.foreside .partner_logo { margin-left:-3px; background-image: url(/images/domains/foreside/foreside_partner_logo.png) }
.partner.page.two-n .partner_logo { background-image: url(/images/domains/foreside/2n_partner_logo.png) }
.partner.page.ise .partner_logo { background-image: url(/images/domains/foreside/ise_partner_logo.png) }
.partner.page.klgates .partner_logo { background-image: url(/images/domains/foreside/kl_partner_logo.png) }
.partner.page.statestreet .partner_logo { background-image: url(/images/domains/foreside/statestreet_partner_logo.png) }
.partner.page.cnbc .partner_logo { background-image: url(/images/domains/foreside/cnbc_partner_logo.png) }
/*-------------------------------------------------------PRODUCTS-------------------------------------------------------*/
.product.page ol { font-size:1.16em; }
.product.page ol li { list-style-type: decimal; list-style-position: inside; }
.product.page ol li .comment { color: #0c799a; }
.product.page ol li .comment:before { content: ' – '; }
.product.page .product_logo { display: block; margin-bottom: 20px; }
.product.page .product_link { display: block; }
.product.page .document_link { }
.product.page .document_link img { opacity: .75; margin-top:20px; }
.product.page .document_link .product_link { text-decoration: underline; display: block; }

.media.page h3 { font-size:2em; line-height:1; color:inherit; text-transform:uppercase; padding:3px 0px 0px 0px; overflow:hidden; }
.media.page .read-more { text-transform:uppercase; text-decoration:underline; margin-top: -10px; display: block; margin-bottom: 20px; }
.media.page h3.market-news { font-size: 1.2em; }
/*-------------------------------------------------------ABOUT-------------------------------------------------------*/
.about.page .etflabs_logo { color: rgba(0,0,0,0); height: 60px; margin-bottom:3px; background: url(/images/domains/foreside/etflabs_logo.png) no-repeat top left; }
.about.page.contact p, .about.page.contact h3 { padding: 0;}
.about.page.contact h4 { padding-bottom: 5px; }
/*-------------------------------------------------------HEADER-------------------------------------------------------*/
#header{
  -moz-box-shadow: 0px 4px 8px rgba(0,0,0,.75);
  -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,.75);
  box-shadow: 0px 4px 8px rgba(0,0,0,.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background:#203543;
  z-index: 4;
}
.logo { float:left; padding:15px 0px 13px 0; overflow:hidden; line-height:1;}
#nav { float:left; padding:15px 0px 0px 12px; /*font-weight:bold; */font-size:20px; }
#nav ul{ padding:0px; margin:0px;}
#nav ul li{ float:left; display:inline; padding:0px 15px; text-transform:uppercase; line-height:1; padding-top:5px; padding-bottom:3px; }
#nav ul li a { color:#cee4eb; display:inline-block;}
#nav ul li a.selected { color: #fff; }
#nav > ul > li > a:hover{ border-bottom:solid 2px #cee4eb; overflow:hidden; color:#fff; margin-bottom:-2px;}
#nav > ul > li > a.selected { border-bottom:solid 2px #fff; }
.social{ float:right; padding:10px 0 0px 0px;}
.social img{ float:left; padding-left:16px;}

#nav .submenu { position: absolute; background:#203543; border: 1px solid #0b7999; 
  -moz-box-shadow: 1px 1px 6px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,1);
  box-shadow: 1px 1px 6px rgba(0,0,0,1);
}
#nav .submenu li { float: none; display: block; font-size: .6em; line-height: 1; padding: 5px 10px; position: relative; border-bottom: 1px dotted #0b7999; }
#nav .submenu li:last-child { border-bottom: none; }
#nav .submenu a { display: block; }
#nav .submenu a:hover { color: #fff; }
/*-------------------------------------------------------PAGE-------------------------------------------------------*/
.page .col1, .page .col2 { float: left; }
.page .col1 { width: 33%; }
.page .col2 { width: 66%; }
.page h3 { font-size: 2em; line-height: 1; padding-top:.5em; padding-bottom:5px; text-transform: uppercaseX; color: #0c799a; }
.page p { padding-bottom: 10px; }
/*-------------------------------------------------------LOGIN-------------------------------------------------------*/
.login_page { height:100%; position: relative; color: #fff;}
.logo.login_logo { padding: 24px 0px 32px 23px; }
.login_page form.invite { position: absolute; top: -100px; font-size: 1.7em; line-height: 1.6; }
.login_page form input { font-size: .6em; vertical-align: middle; }
.login_page form input.go { vertical-align: middle; }
.login_page.main_content { /*width: 100%; */max-width: 900px; margin: 0 auto; }
#masthead { background:url(blank) no-repeat center bottom; background-size:100% auto; width:100%; height:0; padding-top:48%; }
#masthead.slide1{ background-image: url(/images/domains/foreside/slide1.png); }
.login_page h3.tagline { margin: 0; font-size:5em; line-height:1; color:#cee4eb; text-transform:uppercase; padding:3px 0px 5px 0px; overflow:hidden; }
